# FTP (eksport CSV z Nextis ERP)
FTP_HOST=ftpstorage.nextis.cz
FTP_USER=mroauto_profit
FTP_PASSWORD=z2xC83vBa
FTP_PRODUCTS_PATH=/sqqll

# Nextis REST API (live ceny, zamówienia)
NEXTIS_API_URL=https://api.mroauto.nextis.cz
NEXTIS_API_LOGIN=wolfparts
NEXTIS_API_PASSWORD=wolfparts1
NEXTIS_TOKEN_ADMIN=85FBD424238A40A1A095586427926FD2
NEXTIS_DEFAULT_PARTNER_ID=884100


# Typesense
TYPESENSE_HOST=vu7nzds2agfw3850p-1.a2.typesense.net
TYPESENSE_ADMIN_KEY=JFT7m1pGbLsfVl1j5QkASyPPYQ2X0mEP
TYPESENSE_SEARCH_KEY=F6toka3Owvt5Z6DbzHdUQI1kt7Ks2djJ
NEXT_PUBLIC_TYPESENSE_HOST=vu7nzds2agfw3850p-1.a2.typesense.net
NEXT_PUBLIC_TYPESENSE_SEARCH_KEY=F6toka3Owvt5Z6DbzHdUQI1kt7Ks2djJ

# Sync webhook
SYNC_SECRET=LsfVl1j5QkYQ2X0mEPddksdsASyPPYQ2X0mEP
NEXT_PUBLIC_SYNC_SECRET=LsfVl1j5QkYQ2X0mEPddksdsASyPPYQ2X0mEP


# MSSQL
MSSQL_HOST=sqlhost7.48.nextis.cz
MSSQL_DATABASE=nextis_mroauto
MSSQL_USER=Durczok
MSSQL_PASSWORD=1369